@media screen and (max-width: 1199px) {
  .page {
    grid-template-areas: "aside" "main";
    grid-template-columns: 100%;
    grid-template-rows: 100px auto;
    gap: 30px;
  }
  .sidebar {
    grid-template-rows: 100px;
    grid-template-columns: 100px calc(100% - (200px + 40px)) 100px;
    align-items: center;
    gap: 20px;
    &-menu {
      grid-template-columns: repeat(5, minmax(30px, auto));
    }
  }

}