$primary-text-color: #000;
$secondary-text-color: #fff;
$caption-font: "Baloo Bhai";
$black-background: #000;
$white-background: #fff;
$light-gray-background: #F5F5F7;
$transparent-text: rgba(0, 0, 0, .3);
$font-s: 13px;
$font-m: 16px;
$font-l: 24px;
$font-xl: 36px;
$font-xxl: 64px;
$button-border-radius: 8px;
$item-bg-border-radius: 14px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: normal;
}


@font-face {
  font-family: 'Baloo Bhai';
  src: url('../../assets/fonts/BalooBhai-Regular.woff') format('woff2'),
  url('../../assets/fonts/BalooBhai-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('../../assets/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100vh;
  font-family: 'Roboto', 'Baloo Bhai', cursive, sans-serif;
}

.button {
  width: 120px;
  height: 40px;
  border: 0;
  background: $black-background;
  border-radius: $button-border-radius;
  font-size: $font-s;
  font-weight: 700;
  line-height: 15px;
  color: $secondary-text-color;
  cursor: pointer;
  transition: 0.2s;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: inset 0 0 10px 0 $secondary-text-color;
    transform: scale(0.9);
    transition: 0.2s;
  }

  &-continue,
  &-course {
    margin-right: 15px;
  }
}

.container {
  min-width: 20rem;
  max-width: 90rem;
  width: 100%;
  margin: auto;
}

.page {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: minmax(132px, 10%) minmax(80%, auto);
  gap: 72px;
  height: 100%;
  padding: 24px 34px;
}


/*SIDEBAR*/

.sidebar {
  display: grid;
  grid-template-rows: auto 60% auto;
  gap: 64px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  background: #000;
  border-radius: 24px;

  &-menu {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 63px;

    &__item {
      display: flex;
      justify-content: center;
      position: relative;

      &:hover .sidebar-menu__link {
        transform: translateY(-5px);
        transition: 0.2s ease;
      }

      &:hover .sidebar-menu__link:after {
        visibility: visible;
        transition: 0.2s ease;
        transition-delay: 0.2s;
      }
    }

    &__link {
      height: 100%;
      transition: 0.2s ease;

      &:after {
        content: "";
        visibility: hidden;
        position: absolute;
        bottom: -2px;
        right: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateX(50%);
        box-shadow: 0 0 8px 3px rgba($secondary-text-color, .5);
        height: 2px;
        width: 100%;
        background: $secondary-text-color;
      }
    }
  }

  &-button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
      border: 2px solid $secondary-text-color;
      transition: 0.3s ease-in-out;
      box-shadow: 0 0 20px 2px $secondary-text-color;
    }

    &__img {
      transform: scale(1);
      transition: 0.4s ease-in-out;
    }

    &:hover .sidebar-button__img {
      transform: scale(1.2);
      transition: 0.4s ease-in-out;
    }
  }
}

.logo {
  align-self: center;
  justify-self: center;
}


/*MAIN*/

.personal-page {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.column {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_left {
    max-width: 620px;
    width: 100%;
  }

  &_right {
    max-width: 450px;
    width: 100%;
  }

}


/*LEFT COLUMN*/

.personal-greeting {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  background: $light-gray-background;
  width: 100%;
  border-radius: $item-bg-border-radius;
  margin-bottom: 20px;

  &__title {
    font-family: $caption-font;
    font-size: $font-xl;
    line-height: 50px;
    margin-bottom: 10px;
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 15%;
  }
}


/*SLIDER*/

.slider {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;

  &__item {
    max-width: 500px;
    width: 100%;
  }

  &-control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 96px;
    width: 100%;

    &__button {
      width: 40px;
      height: 40px;
      background: none;
      border-radius: 100%;
      border: 2px solid $black-background;
    }

    &__arrow {
      max-width: 100%;
      height: auto;

      &_forward {
        transform: rotate(180deg);
      }
    }
  }

}

.course {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $light-gray-background;
  border-radius: $item-bg-border-radius;
  padding: 8px;

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    background: $white-background;
    border-radius: $item-bg-border-radius;
  }

  &__description {
    max-width: 150px;
    width: 100%;
  }

  &__title {
    font-family: $caption-font;
    font-size: $font-m;
  }

  &__author {
    font-size: $font-s;
  }

  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 41px;
    height: 41px;
    background: url('../../assets/img/percent-circle.svg');
  }

  &__percent {
    font-size: $font-s;
  }

  &-time,
  &-rate {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: $font-s;

    &__icon {
      margin-right: 8px;
    }
  }
}

.courses {
  display: flex;
  flex-direction: column;

  &-list {
    display: none;
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 20px;

    &__item {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }

  &__title {
    margin-bottom: 20px;
    font-family: $caption-font;
    font-size: $font-l;
  }

  &-category {
    display: flex;
    position: relative;

    &__button {
      display: none;
    }

    &__title {
      font-family: $caption-font;
      font-size: $font-m;
      color: rgba($primary-text-color, .3);
    }

    &__item:not(:last-child) {
      margin-right: 30px;
    }

    & :checked + &__title {
      color: $primary-text-color;
    }

    & :checked ~ .courses-list {
      display: flex;
      flex-direction: column;
    }
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 24px;
}

.search {
  max-width: 300px;
  width: 100%;
  height: 40px;
  background: url('../../assets/img/search-icon.svg') no-repeat 5%,
  $light-gray-background;
  border: 0;
  border-radius: $button-border-radius;
  transition: 0.3s;
  text-indent: 45px;

  &:focus {
    transform: scale(1.1);
    transition: 0.3s;
    background: $light-gray-background;
  }

  &::placeholder {
    text-indent: 45px;
    transition: 0.3s;
  }

  &:focus::placeholder {
    opacity: 0;
    transition: 0.3s;
  }
}

.button-notification {
  background: none;
  width: auto;

  &:hover {
    transform: scale(1);
  }

  &__icon {
    -webkit-animation: ring 8s 4s ease-in-out infinite;
    -webkit-transform-origin: 50% 4px;
    -moz-animation: ring 8s 4s ease-in-out infinite;
    -moz-transform-origin: 50% 4px;
    animation: ring 8s 4s ease-in-out infinite;
    transform-origin: 50% 4px;
  }
}

.navigation-dropdown {
  width: auto;

  &__button {
    display: flex;
    align-items: center;
    background: none;
    width: auto;

    &:hover {
      transform: scale(1);
    }
  }

  &__avatar {
    width: 40px;
    height: auto;
    border-radius: $button-border-radius;
    margin-right: 8px;
  }
}

.statistic-course {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 208px;
    width: 100%;
    background: $light-gray-background;
    border-radius: $item-bg-border-radius;
    padding: 17px 34px;
  }

  &__number {
    font-family: $caption-font;
    font-size: $font-xxl;
    margin-right: 10px;
    line-height: 1;
  }
}

.statistic-graph {
  width: 100%;

  &__title {
    font-family: $caption-font;
    font-size: $font-l;
    margin-bottom: 15px;
  }

  &__subtitle {
    font-family: $caption-font;
    color: rgba($primary-text-color, .3);

    &:hover {
      color: $primary-text-color;
    }
  }
}


.row {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.column {
  &_hours {
    margin-right: 24px;
  }

  &_time {
    margin-left: auto;
    max-width: 88px;
    width: 100%;
  }
}

.during {
  height: 32px;
  border: 0;
  border-radius: $button-border-radius;
  padding: 0 10px;
  appearance: none;
  background: url("../../assets/img/chevron.svg") no-repeat 95%, $light-gray-background;

  &:focus {
    outline: 0;
  }
}

.offer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  max-width: 440px;
  width: 100%;
  background: url('../../assets/img/offer-img.svg') no-repeat 90%, $light-gray-background;
  border-radius: $item-bg-border-radius;
  padding: 24px 24px 15px;

  &__title,
  &__description {
    max-width: 180px;
  }

  &__title {
    font-size: $font-l;
    font-family: $caption-font;
    line-height: 35px;
    margin-bottom: 5px;
  }

  &__description {
    font-size: $font-m;
    line-height: 24px;
    margin-bottom: 25px;
  }
}

@import "@mediamax-width1350px";
@import "keyframes";