$primary-text-color: #000;
$secondary-text-color: #fff;
$caption-font: "Baloo Bhai";
$black-background: #000;
$light-gray-background: #F5F5F7;
$transparent-text: rgba(0, 0, 0, .3);
$font-s: 13px;
$font-m: 16px;
$font-l: 24px;
$font-xl: 36px;
$font-xxl: 64px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: 'Baloo Bhai';
  src: url('./assets/fonts/BalooBhai-Regular.woff') format('woff2'),
  url('./assets/fonts/BalooBhai-Regular.woff2') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url('./assets/fonts/Roboto-Regular.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

html {
  a {
    text-decoration: none;
    color: inherit;
  }

  ul, ol {
    list-style-type: none;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #fff;
  height: 100vh;
  font-family: 'Baloo Bhai', 'Roboto', cursive, sans-serif;
}

.button {
  border: 0;
}

.container {
  min-width: 20rem;
  max-width: 82.5rem;
  width: 100%;
  margin: auto;
}

.page {
  display: grid;
  grid-template-areas: "aside main";
  grid-template-columns: minmax(132px, 10%) minmax(80%, auto);
  gap: 72px;
  height: 100%;
  padding: 24px 34px;
}


/*SIDEBAR*/

.sidebar {
  display: grid;
  grid-template-rows: auto 60% auto;
  gap: 64px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  background: #000;
  border-radius: 24px;

  &-menu {
    display: grid;
    justify-content: center;
    align-items: flex-start;
    gap: 63px;

    &__item {
      display: flex;
      justify-content: center;
      position: relative;

      &:hover .sidebar-menu__link {
        transform: translateY(-5px);
        transition: 0.2s ease;
      }

      &:hover .sidebar-menu__link:after {
        visibility: visible;
        transition: 0.2s ease;
        transition-delay: 0.2s;
      }
    }

    &__link {
      height: 100%;
      transition: 0.2s ease;

      &:after {
        content: "";
        visibility: hidden;
        position: absolute;
        bottom: -2px;
        right: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateX(50%);
        box-shadow: 0 0 8px 3px rgba($secondary-text-color, .5);
        height: 2px;
        width: 100%;
        background: $secondary-text-color;
      }
    }
  }

  &-button {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    transition: 0.3s ease-in-out;

    &:hover {
      border: 2px solid $secondary-text-color;
      transition: 0.3s ease-in-out;
      box-shadow: 0 0 20px 2px $secondary-text-color;
    }

    &__img {
      transform: scale(1);
      transition: 0.4s ease-in-out;
    }

    &:hover .sidebar-button__img {
      transform: scale(1.2);
      transition: 0.4s ease-in-out;
    }
  }
}

.logo {
  align-self: center;
  justify-self: center;
}


/*MAIN*/

.personal-page {
  display: flex;
  justify-content: space-between;
}


/*LEFT COLUMN*/

.column {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  &_left {
    max-width: 620px;
    width: 100%;
  }
}

.personal-greeting {
  position: relative;
  display: flex;
  padding: 40px 30px;
  background: $light-gray-background;
  width: 100%;
  border-radius: 14px;

  &__description {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-family: $caption-font;
    font-size: $font-xl;
    line-height: 50px;
    margin-bottom: 10px;
  }

  &__picture {
    position: absolute;
    bottom: 0;
    right: 15%;
  }
}





